<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Standard</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.standard_id %></td>
        <td><%= link_to 'Show', url_for([@school,student]) %></td>
        <td><%= link_to 'Edit', edit_school_student_path(@school,student) %></td>
        <td><%= link_to 'Destroy', ([@school,student]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_school_student_path(@school) %>



<p id="notice"><%= notice %></p>

<h1>Listing Standards</h1>

<table>
  <thead>
    <tr>
      <th>School</th>
      <th>Class name</th>
      <th>Min attendance mark</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @standards.each do |standard| %>
      <tr>
        <td><%= standard.school_id %></td>
        <td><%= standard.class_name %></td>
        <td><%= standard.min_attendance_mark %></td>
        <td><%= link_to 'Show', url_for([@school,standard]) %></td>
        <td><%= link_to 'Edit', edit_school_standard_path(@school,standard) %></td>
        <td><%= link_to 'Destroy', ([@school,standard]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Standard', new_school_standard_path(@school) %>


